{:paths ["src/clj" "src/cljs" "resources"]
 :deps {thheller/shadow-cljs {:mvn/version "2.11.7"}
        ring/ring {:mvn/version "1.9.4"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        stasis/stasis {:mvn/version "2.5.1"}
        compojure/compojure {:mvn/version "1.6.2"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        optimus/optimus {:mvn/version "0.20.2"}
        dali/dali {:mvn/version "1.0.2"}}
 :aliases {:server {:main-opts ["-m" "vlojure.server"]}
           :export {:main-opts ["-m" "vlojure.server" "export"]}}}
